@import 'variables';
@import 'mixins';

header {
    display: flex;
    justify-content: center;
}
.owca {
    @include fondo-degradado ($color-pri-carga, $color-sec-carga, 20deg);    
    border: 2px solid gray;
    margin-top: 15px;
    min-width: 320px;    
    @include combo-fonts('Arial', 'Oswald-Regular', bold);
    border-radius: 1.5em;
    .perry{
        margin: 10px;
        height: 80px;
        border-radius: 50%;
        border: 5px solid gray;
    }
    
}
nav {
    background-color: beige;
    margin-left: 35%;
    margin-right: 35%;
    display: flex;
    justify-content: center;
    font-size: 70%;
    padding: 3px;
    border-radius: 3em;
}


.box1 {    
    display: inline-block;
    margin:1em;
    border: 5px transparent;
    border-radius: 1.5em;
    font-weight: bold;
    backdrop-filter: blur(7px);
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.box2 {
    display: inline-block;
    border: 5px transparent;
    border-radius: 1.5em;    
    backdrop-filter: blur(7px);
    padding: 17px;
    font-weight: bold;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-position: center;
    background-image: url("https://preview.redd.it/why-is-doofensmirtz-evil-inc-shaped-like-a-wrench-or-ferbs-v0-s91ybkti2ync1.jpeg?auto=webp&s=494d4dc50b553e8c227b75a1610d8c35d7cae0fb");
}

@media (max-width: 900px) {

 header {
    display: flex;
    justify-content: center;
 }
   .owca {
    @include fondo-degradado ($color-pri-carga, $color-sec-carga, 20deg);      
    border: 2px solid gray;
    margin-top: 20px;
    min-width: 300px;    
    @include combo-fonts('Savate-ExtraLight', 'Oswald-Regular');
    border-radius: 1.5em;
    .perry{
        margin: 10px;
        height: 80px;
        border-radius: 50%;
        border: 5px solid gray;
    }
    
}
body {
    display: flex;
    justify-content: center;
}
}
