.tipo-normal {
  background-color: #A8A77A;
  color: white;
}

.tipo-fighting {
  background-color: #C22E28;
  color: white;
}

.tipo-flying {
  background-color: #A98FF3;
  color: white;
}

.tipo-poison {
  background-color: #A33EA1;
  color: white;
}

.tipo-ground {
  background-color: #E2BF65;
  color: white;
}

.tipo-rock {
  background-color: #B6A136;
  color: white;
}

.tipo-bug {
  background-color: #A6B91A;
  color: white;
}

.tipo-ghost {
  background-color: #735797;
  color: white;
}

.tipo-steel {
  background-color: #B7B7CE;
  color: white;
}

.tipo-fire {
  background-color: #EE8130;
  color: white;
}

.tipo-water {
  background-color: #6390F0;
  color: white;
}

.tipo-grass {
  background-color: #7AC74C;
  color: white;
}

.tipo-electric {
  background-color: #F7D02C;
  color: white;
}

.tipo-psychic {
  background-color: #F95587;
  color: white;
}

.tipo-ice {
  background-color: #96D9D6;
  color: white;
}

.tipo-dragon {
  background-color: #6F35FC;
  color: white;
}

.tipo-dark {
  background-color: #705746;
  color: white;
}

.tipo-fairy {
  background-color: #D685AD;
  color: white;
}

.tipo-shadow {
  background-color: #444444;
  color: white;
}

.tipo-unknown {
  background-color: #999999;
  color: white;
}

.tipo-stellar {
  background-color: #7B61FF;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-layout .navbar {
  background: linear-gradient(45deg, #8a2020, #c42b2b);
}
.page-layout .navbar h2 {
  font-family: "Courier New", "Oswald-Regular";
  font-weight: bold;
  font-size: 25px;
  color: rgb(246, 247, 248);
}
.page-layout .navbar .navbar-toggler {
  background-color: rgb(255, 255, 255);
}
.page-layout .navbar a {
  color: antiquewhite;
  font-weight: bold;
  transition: color 0.3s ease;
}
.page-layout .navbar a:hover {
  color: black;
}
.page-layout .content {
  flex: 1;
  padding: 10px;
}
.page-layout .content .carousel .carousel-inner img {
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}
.page-layout .content .carousel .carousel-item {
  height: 300px;
  width: 100%;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.page-layout .content .carousel .pokemon-solo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}
.page-layout .content .carousel .pokemon-solo img {
  width: 150px;
  height: auto;
}
.page-layout .content .carousel .img-poke {
  display: flex;
  width: 250px;
}
.page-layout .content .carousel .img-poke img {
  width: 300px;
  object-fit: cover;
}
.page-layout .content .carousel .info-poke {
  background-color: rgba(255, 255, 255, 0.062745098);
  border: 1px solid rgba(255, 255, 255, 0.3137254902);
  backdrop-filter: blur(0.1rem);
  -webkit-backdrop-filter: blur(0.1rem);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.875rem;
}
.page-layout .content .carousel .info-poke h2,
.page-layout .content .carousel .info-poke p {
  align-self: center;
}
.page-layout .content .carousel .info-poke h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.page-layout .content .carousel .info-poke p {
  margin-bottom: 0%;
}
.page-layout .contact-sect {
  background-color: rgb(220, 241, 250);
  border-radius: 15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: auto;
  align-self: flex-start;
}
.page-layout footer {
  background: linear-gradient(45deg, #0a35ac, #2a3cdb);
}
.page-layout footer .text-muted {
  font-weight: bold;
}
.page-layout footer li {
  color: white;
}
.page-layout footer a {
  text-decoration: none;
  color: rgb(250, 250, 250);
  font-weight: bold;
  transition: color 0.3s ease;
}
.page-layout footer a:hover {
  color: black;
}

.card.tipo {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 40px 0;
  border: none;
}/*# sourceMappingURL=main.css.map */