@font-face {
    font-family: 'Savate';
    src: url('Savate-ExtraLight.woff2') format('woff2'),
        url('Savate-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

